version: '3.4'

volumes:
  db-data: {}

services:
  api:
    build:
      context: ./
      dockerfile: .docker/Dockerfile.dev
    depends_on:
      - db
    volumes:
      - .:/api
      - /api/node_modules
    environment:
      - PORT
      - DB_CONNECTION
      - DB_HOST=${MONGO_HOST}
      - DB_PORT=${MONGO_PORT}
      - DB_USER=${MONGO_USER}
      - DB_PASSWORD=${MONGO_PASSWORD}
      - DB_DATABASE=${MONGO_DATABASE}
      - ME_CONFIG_MONGODB_ADMINUSERNAME
      - ME_CONFIG_MONGODB_ADMINPASSWORD
      - NODE_PORT=2018
      - SOCKET_PORT=2019
      - PYTHON_PORT=2020
    ports:
      - "${NODE_PORT}:2018"
      - "${SOCKET_PORT}:2019" 
      - "${PYTHON_PORT}:2020"
  db:
    image: mongo:3.4-xenial
    restart: always
    environment:
      - MONGO_USER
      - MONGO_PASSWORD
      - MONGO_DATABASE
      - ME_CONFIG_MONGODB_ADMINUSERNAME
      - ME_CONFIG_MONGODB_ADMINPASSWORD
    volumes:
      - db-data:/data/db
    ports:
      - "${MONGO_PORT}:27017"